@import url(http://fonts.googleapis.com/css?family=Lato:400,700|Arvo:400,700|Roboto:400,100,500,700|Doppio+One);
@import url(http://fonts.googleapis.com/css?family=Allerta);
@import "bootstrap.scss";

/*
available fonts
------------------------------------------------
font-family: 'Lato', sans-serif;
font-family: 'Arvo', serif;
font-family: 'Roboto', sans-serif;
font-family: 'Doppio One', sans-serif;
font-family: 'Allerta', sans-serif;
----------------------------------------------*/

$yellow : #fff7b8;

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 18px
}

::selection {
    background: $yellow;
}

a:hover {
    text-decoration: none;
}

/*
feature classes
----------------------------------------------*/
.nat-head {
    background-color: black;
    background-image: url(../../img/binding_dark.png);
    color: white;
    padding-top: 20px;
    padding-bottom: 20px;
    box-shadow: 0px 3px 8px #7a7a7a;

    .circle {
        background-color: white;
        width: 40px;
        height: 40px;
        margin: 0 auto;
        color: black;
        border-radius: 30px;
        padding: 10px;
        line-height: 40px;

        span {
            display: none;
        }
    }
    
    h1 {
        font-family: 'Allerta', sans-serif;
        text-align: center;
        line-height: 1em;
        font-size: 55px;
        //text-transform: uppercase;
        position: relative;
        letter-spacing: -3px;
        opacity: 1;
        
            
        span {
            transition: all 0.3s ease-in-out;
            color: white;
            opacity: 0.5;
            
            &:hover {
                opacity: 1;
                text-shadow: 0px 0px 15px #ffffff;
            }
        }

        .lightup {
            opacity: 1;
            text-shadow: 0px 0px 15px #ffffff;
        }
    }
}

.nat-nav {
    text-align: center;
    padding: 10px 0px 10px 0px;
    
    a {
        color: white;
    }
    .active {
        font-weight: bold;
        border-bottom: 1px white dotted;
    }
}

.box {
    padding-top: 50px;
    max-width: 90%;
    margin: 0 auto;
}

.feature-title {
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    margin-top: 5px !important;
    margin-bottom: 5px !important;
}
.feature-desc {
    display: none;
    
    p {
        text-indent: 20px;
        font-size: 14px;
    }
}

.feature-box {
    background-color: black;
    width: 100%;
    height: 0;
    padding-bottom: 100%;
    background-size: 100%;
    text-align: center;
    cursor: pointer;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -kthtml-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    opacity: 0.7;
    
    &:hover {
        opacity: 1;
    }
}

.feature-skills {
    font-size: 14px !important;
    font-weight: 100 !important;
    
    span {
        font-weight: 100 !important;
    }
    .label-default {
        background-color: black !important;
        opacity: 0.5;
    }
}

@for $i from 0 through 10 {
    .feature-box-#{$i} {
        background-image: url(../../img/features/#{$i}.png);
    }
}

.feature-preview {
    max-width: 100%;
}

.social-box {
    width: 74px;
    margin: 0 auto;
    position: fixed;
    padding-bottom: 5px;
    paddint-top: 5px;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.55);
}

.social {
    width: 30px; 
    height: 30px; 
    text-align: center; 
    border-radius: 30px;
    float: right;
    margin-right: 5px;
    margin-top: 5px;
    transition: all 0.3s ease-in-out;
    opacity: 0.75;
    background-color: #c0c0c0;

    a { 
        display: block;
        color: white;
        line-height: 30px; 
        
        &:hover {
            text-decoration: none !important;
        }
    }
}

.social-t { 
    
    &:hover {
        background-color: #7cbce3;
        opacity: 1;
    }
}

.social-g {
    
    &:hover {
        background-color: #000000;
        opacity: 1;
    }
}

.social-l {
    
    &:hover {
        background-color: #256ca6;
        opacity: 1;
    }
}

.nat-about {
    //margin-top: 45px;

    .about-label {
        text-align: left;
        line-height: 25px;
    }
    .about-content {
        line-height: 30px;
        
        /*
        span:nth-child(odd) {
            border-bottom: 1px #333333 dotted;

        }
        */

        span:hover {
            background-color: $yellow;
        }
    }
}

.nat-component {
    background-color: #ebebeb;
    padding: 15px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    
    &:hover {
        background-color: #c0c0c0;
    }
}

.nat-component-active {
    background-color: #c0c0c0;
}

.nat-component-body {
    display: none;
    padding: 15px;
}

.required {
    color: red;
}

.littlenathan {
    width: 100%;
    height: 0;
    padding-bottom: 100%;
    background-size: 100%;
    background-image: url(../../img/itslittlenathan.png);
    background-repeat: no-repeat;
    border-radius: 300px;
    box-shadow: 0px 6px 8px #c0c0c0;
    transition: all 0.3s ease-in-out;
}

.affix {
    width: 25%;
    right: 0;
    margin-left: 75%;
    margin-right: 8.3333%;
}

#nat-footer {
    color: black;
    padding-top: 40px;
    padding-bottom: 40px;
}

.interested {
    margin-top: 100px;
    text-align: center;
}

.about-label strong {
    border-bottom: 1px black dotted;
    display: block;
}

.danger-errors {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
}

#successalert {
    display: none;
}

/**
 ** form input areas */
#name, #email, #phone, #message {
    transition: background-color ease-in-out 0.5s;
}

#project-pop {
    max-width: 100%;
    width: 100%;
    background-color: white;
    position: fixed;
    top: 0px;
    left: 0px;
    display: none;
    z-index: 1050;
    padding: 15px;
    background-image: url(../../img/moon.png);
    
    .projectDetails {
        max-width: 450px;
        margin: 0 auto;
    }
    
    #carousel-example-generic {
        box-shadow: 0px 5px 8px rgba(0,0,0,0.5);
    }
}

#overlay {
    position:fixed;
    top:0;
    bottom:0;
    left:0;
    right:0;
    background-color:#000;
    opacity:0.8;
    z-index:1001;
    display: none;
    transition: all ease-in-out 0.5s;
}

.projectInfo {
    display: none;
}

#oneliners-data {
	margin-top: 50px;
}

.code-post {
	margin-bottom: 15px;
	margin-top: 25px;
	
	h3 {
		margin-top: 0px;
		padding-bottom: 15px;
	}
	
	.code-post-body {
		padding-top: 10px;
		padding-bottom: 10px;
	}
	
	code {
		max-width: 100%;
		white-space: pre-wrap;
	}
}

@media all and (max-width: 768px) {
    .feature-box {
        width: 80%;
        margin: 0 auto;
        padding-bottom: 80%;
    }
    .placer {
        height: 0px !important;
    }
    .about-label strong {
        text-align: center;
    }
    .about-content {
        text-align: center;
    }
    .box {
        max-width: 100%;
    }
}

@media all and (max-width: 440px) {
    .nat-head h1 {
        font-size: 45px;
    }
    .about-label {
        text-align: center;
    }
    .about-content {
        text-align: center;
    }
}